/* Affecting Everything */
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "JetBrains Mono", serif;
    font-size: 5vh;
    background-color: #1f2023;
    text-align: left;
}
:root{
    --indent: 50px;
    --doubleIndent: 100px;
    --green: #67a56f;
    --tagColor: #cdb074;
    --white: #b5b7bd;
}
main{
    font-size: 5vh;
    margin-left: 2rem;
}


/* General Elements */
#heading-section{
    text-indent: var(--indent);
}

.tagColor{
    color: var(--tagColor);
}
#language{
    color: var(--green);
}
.tagProperties{
    color: #b5b7bd;
}
.charset{
    color: var(--green);
}
/* Head Elements */
#metaTag{
    text-indent: var(--doubleIndent);
}
#titleTag{
    text-indent: var(--doubleIndent);
}
#titleSpan{
    color: var(--white);
}
/* Nav Elements */
nav ul {
    display: flex;
    list-style: none;
    justify-content: start;
    padding: 0;
    margin: 1rem;
}
nav ul li {
    padding: .75rem 1rem 2rem;
}
nav ul li a {
    text-decoration: none;
    color: white;

}
nav ul li a.active {
    padding: .5rem;
    border-bottom: 6px solid #3570e7;
}
nav ul li a.inactive {
    filter: brightness(50%);
}
nav ul li a:hover {
    filter: brightness(100%);
}


/* Body Elements */

#bodySection{
    text-indent: var(--indent);
}
#picOfMe{
    text-indent: var(--doubleIndent);
}
#juliaHusarPicture{
    display: flex;
    width: 20vw;
    height: auto;
    position: absolute;
    top: 1vh;
    right: 10vw;

}

/* Projects/Java code */
#javaCode{
    color: var(--white);
}
.javaVariable{
    text-indent: var(--indent);
}
.javaMethod{
    text-indent: var(--doubleIndent);
}