/* Affecting Everything */
body{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", serif;
    font-size: 2em;
    background-color: #1f2023;
}
:root{
    --indent: 50px;
    --doubleIndent: 100px;
    --green: #67a56f;
    --tagColor: #cdb074;
    --white: #b5b7bd;
}

/* General Elements */
#heading-section{
    text-indent: var(--indent);
}

.tagColor{
    color: var(--tagColor);
}
#language{
    color: var(--green);
}
.tagProperties{
    color: #b5b7bd;
}
.charset{
    color: var(--green);
}
/* Head Elements */
#metaTag{
    text-indent: var(--doubleIndent);
}
#titleTag{
    text-indent: var(--doubleIndent);
}
#titleSpan{
    color: var(--white);
}
/* Nav Elements */
nav ul {
    display: flex;
    list-style: none;
    justify-content: start;
    padding: 0;
    margin: 1rem;
}
nav ul li {
    padding: .75rem 1rem 2rem;
}
nav ul li a {
    text-decoration: none;
    color: white;

}
nav ul li a.active {
    padding: .5rem;
    border-bottom: 6px solid #3570e7;
}

/* Body Elements */

